body {
  background: radial-gradient(rgb(255, 255, 255), rgb(193, 255, 157));
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.icon-container {
  height: 30vh;
  width: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  color: rgb(89, 16, 148);
}
.cigar {
  margin-bottom: 2%;
  position: absolute;
  height: 15vh;
  width: 15vh;
}

svg {
  z-index: 2;
  color: rgb(206, 42, 42);
  width: 100%;
  height: 100%;
}
